    <script type="text/javascript">
    $(document).ready(function(){
      if(typeof pusher === 'undefined'){
        pusher = new Pusher('98d1cd189b6bdb479506');
        var channel = pusher.subscribe('<%= current_user.username %>');
        channel.bind('new_tweet', function(data) {
          $("#feed").prepend("<div id=\"item\" class=\"well well-large\">" + data.message + "</div>");
        });
      };
    }); 
    </script>
    <div id="feed">