<h1>Your Twitter accounts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_accounts.each do |twitter_account| %>
    <tr>
      <td class="separate"><%= twitter_account.username %></td>
      <td>
        <div class="btn-group">
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            Actions
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit', edit_twitter_account_path(twitter_account) %></li>
            <li><%= link_to 'Delete', twitter_account, method: :delete%></li>
          </ul>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn"><%= link_to 'New Twitter account', new_twitter_account_path %></button>