<div class="row">  
<div class="span6">  
<ul class="nav nav-tabs nav-stacked">  
  <li class="nav-header">Manage your Account</li>
  <li><%= link_to "Your Twitter Accounts", twitter_list_path %></li>
  <li><%= link_to "Delete account", delete_account_path %></li>
</ul>
</div>
</div>